[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
include = ["src/**/*.py"]

[tool.hatch.build.targets.wheel]
sources = ["src"]

[project]
name = "evaluatorq-py"
version = "0.1.0"
description = "An evaluation framework library for Python that provides a flexible way to run parallel evaluations and optionally integrate with the Orq AI platform."
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.0",
    "httpx >= 0.28.1",
    "rich>=14.2.0",
]

[project.optional-dependencies]
dev = [
    "pytest>=8.0.0",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = ["test_*.py", "*_test.py"]
norecursedirs = [".venv", "dist", "*.egg-info"]

[tool.basedpyright]
reportIncompatibleVariableOverride = "none"
reportExplicitAny = "none"

[dependency-groups]
dev = [
    "pytest-asyncio>=1.2.0",
    "ruff>=0.14.3",
    "basedpyright>=1.21.0",
]
