[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "evaluatorq-py"
version = "0.1.0"
description = "An evaluation framework library for Python that provides a flexible way to run parallel evaluations and optionally integrate with the Orq AI platform."
readme = "README.md"
license = { text = "MIT" }
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.0",
    "httpx>=0.28.1",
    "rich>=14.2.0",
]

[project.optional-dependencies]
orq = [
    "orq-ai-sdk>=3.13.16",
]

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.basedpyright]
reportIncompatibleVariableOverride = "none"
reportExplicitAny = "none"
